<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479443661280-48md5ihcqv9f60atrgrsuncd39ne4hjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479443661280-48md5ihcqv9f60atrgrsuncd39ne4hjj</string>
	<key>API_KEY</key>
	<string>AIzaSyCX6debenBfu_Bu7Zu99bY22PzRShi1bmA</string>
	<key>GCM_SENDER_ID</key>
	<string>479443661280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>universalwallet</string>
	<key>PROJECT_ID</key>
	<string>universal-wallet-73b42</string>
	<key>STORAGE_BUCKET</key>
	<string>universal-wallet-73b42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479443661280:ios:5806031db0084e650a3b85</string>
	<key>DATABASE_URL</key>
	<string>https://universal-wallet-73b42.firebaseio.com</string>
</dict>
</plist>